* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%, rgb(0,0,0,0.5)50%), url("../assets/quizlogin.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.message {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    width: 500px;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(10, 1, 51);
    background-color: paleturquoise;
    border-radius: 15px;
    padding: 20px;
}
.message-list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100vh;
    width: 700px;
    border-radius: 15px;
}
.quiz-list {
    display: flex;
    flex-direction: column; /* Changed to stack rows vertically */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: rgb(2, 2, 83);
    background: linear-gradient(to top, rgba(83, 186, 207, 0.553)50%, rgba(83, 186, 207, 0.553)50%);
    width: 540px;
    height:450px;
    border-radius: 15px;
    padding: 20px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.quiz {
    text-decoration: none;
    border: 2px solid paleturquoise;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    font-weight: bold;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(10, 1, 51);
    font-size: 20px;
    font-family: Arial;
}

.quiz p{
    font-size:15px;
    color:rgb(2, 2, 83);
    text-align: center;

}
.quiz div {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

.quiz p{
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    border-radius: 10px;
    height:20px;
    background-color: paleturquoise;
}